---
layout: page
title: Announcements
permalink: /announcements/
---

{% assign first_post = site.posts | first %}
{% assign rest_posts = site.posts | shift %}

<header>
  <p class="post-meta">{{ first_post.date | date: "%b %-d, %Y" }}{% if first_post.author %} • {{ first_post.author }}{% endif %}{% if first_post.meta %} • {{ first_post.meta }}{% endif %}</p>
  <h2>
    <a class="post-link" href="{{ site.github.url }}/{{ first_post.url }}">
      {{ first_post.title }}
    </a>
  </h2>
</header>
<article class="row post-content">
  {{ first_post.content }}
</article>

<div>
  <h1>Past Announcements</h1>

  <ul class="post-list">
    {% for post in rest_posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p>subscribe <a href="{{ site.github.url }}/atom.xml">via RSS</a></p>

</div> 
